*{
    margin: 0px;
    padding: 1empx;
}

@font-face {
    font-family: BEWITCHED;
    src: url(../font/BEWITCHED-PERSONAL.otf);
}

.title{ 
  font-family: BEWITCHED;
  font-size: 60px;
  color: #405482;
  background-color: #EEEDED;
  text-align: center;
}
.izquierda{
  background-color:#a7dda7;
  height: 95vh;
  width: 50%;
  font-size: 18px; 
  font-weight: 400; 
  text-align: center;
  margin: 0 0 25px; 
  padding: 20px; 
}

.derecha{
  background-color:#a7dda7 ;
  background-size: cover;
  background-position: center;
  height: 95vh;
  width: 50%;
}

#pantalla-dividida{
  display: flex;
}


.circulo1{
  width: 400px;
  height: 400px;
  background-color:#7a0e0e;
  border-radius: 100%;
 margin-left: 130px;
 margin-top: 70px;
}

.circulo1 > .imagen1{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.contact1{
  background-color:#a7dda7;
  font-size: 20px;
  line-height: 30px;
  width: 50;
  margin: auto;
  color:black;
  text-align:justify;
  margin: 25px 25px 25px;
  padding:15px ; 
}

.recomendados1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border: #EEEDED 5px;
}

.platos1 {
  background-color:#a7dda7;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.platos2 {
  background-color:#EEEDED;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.imagenes1 {
  width: 350px;
  height: 250px;
}

h1{
  font-size: 60px;
  font-family: BEWITCHED;
  font-size: 18px; 
  font-weight: 400; 
  text-align: center;
  margin: 0 0 25px; 
  padding: 20px; 
}

.parrafo{ 
  background-color:#EEEDED;
  font-size: 20px;
  line-height: 30px;
  width: 50;
  margin: auto;
  color:black;
  text-align:justify;
  margin: 25px 25px 25px;
  padding:15px ; 
}

p{
  font-size: 20px;
  line-height: 30px;
  width: 50;
  margin: auto;
  color:black;
  text-align:justify;
  margin-left: 80px;
}


.izquierda2{
  background-color:#EEEDED;
  height: 95vh;
  width: 50%;
  font-size: 18px; 
  font-weight: 400; 
  text-align: center;
  margin: 0 0 25px; 
  padding: 20px; 
}

.derecha2{
  background: #EEEDED;
  height: 95vh;
  width: 50%;
}
#pantalla-dividida2{
  display: flex;
}

.circulo2{
  width: 400px;
  height: 400px;
  background-color:#7a0e0e;
  border-radius: 100%;
 margin-left: 130px;
 margin-top: 70px;
}

.circulo2 > .imagen2{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.contact2{
  background-color: #EEEDED;
  font-size: 20px;
  line-height: 30px;
  width: 50;
  margin: auto;
  color:black;
  text-align:justify;
  margin: 25px 25px 25px;
  padding:15px ; 
}

.modo2{
  color: #ee6363;
  text-align: center;
}

.izquierda3{
  background-color: #a7dda7;
  height: 95vh;
  width: 50%;
  font-size: 18px; 
  font-weight: 400; 
  text-align: center;
  margin: 0 0 25px; 
  padding: 20px; 
}

.derecha3{
  background-color: #a7dda7;
  height: 95vh;
  width: 50%;
}
#pantalla-dividida3{
  display: flex;
}
.modo1{
  color: #6371ee;
  text-align: center;
}

.circulo3{
  width: 400px;
  height: 400px;
  background-color:#7a0e0e;
  border-radius: 100%;
 margin-left: 130px;
 margin-top: 70px;
}

.circulo3 > .imagen3{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
